---
import SvgDown from '../components/SvgDown.astro'
---

<a href="#instagram" class='scroll-down md:hidden flex'><SvgDown width='22' height='22' fill='white' /></a>

<style>
	.scroll-down {
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1rem;
		color: #fff;
		animation: float 1.5s ease-in-out infinite;
		cursor: pointer;
	}

	@keyframes float {
		0%,
		100% {
			transform: translate(-50%, 0);
		}
		50% {
			transform: translate(-50%, -10px);
		}
	}
</style>
