<a
	data-btn-whats
	id='btnWhatsapp'
	class='fixed-button hidden items-center justify-center rounded-t w-full h-auto min-h-16 px-11 bg-[#E91B25] text-white border-2 border-solid border-[#E91B25] transition hover:bg-transparent hover:text-white'
	href='https://api.whatsapp.com/send?phone=556133518138&text=Ol%C3%A1!%20Vi%20seu%20an%C3%BAncio%20e%20gostaria%20de%20fazer%20um%20pedido.'
	target='_blank'
>
	<span class='text-xl font-bold'>Clique e Peça no WhatsApp</span>
</a>

<script>
	// Executa apenas em telas de até 768px
	window.addEventListener('scroll', () => {
		const scrollButton = document.getElementById(
			'scrollButton'
		) as HTMLElement | null
		const fixedButton = document.getElementById(
			'btnWhatsapp'
		) as HTMLElement | null

		let lastScrollTop = 0

		window.addEventListener('scroll', () => {
			// Verificar se os elementos estão presentes
			if (!scrollButton || !fixedButton) return // Se algum dos elementos for null, sai da função

			const currentScroll = window.scrollY

			// Se rolou mais de 100px para baixo, esconder o botão
			if (currentScroll > 600) {
				scrollButton.style.opacity = '0' // Fica invisível
			} else {
				scrollButton.style.opacity = '1' // Fica visível
			}

			// Mostrar o botão fixo quando o usuário rolar mais
			if (currentScroll > 600) {
				fixedButton.style.display = 'flex'
			} else {
				fixedButton.style.display = 'none'
			}

			// Guardar a posição da rolagem
			lastScrollTop = currentScroll <= 0 ? 0 : currentScroll
		})
	})
</script>
