---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<!-- Google Tag Manager -->
		<script>
			;(function (w, d, s, l, i) {
				w[l] = w[l] || []
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : ''
				j.async = true
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
				f.parentNode.insertBefore(j, f)
			})(window, document, 'script', 'dataLayer', 'GTM-NPGNF8QG')
		</script>
		<!-- End Google Tag Manager -->
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
		/>
		<script src='https://cdn.tailwindcss.com'></script>
		<link rel='shortcut icon' href='./favicon-cast.jpg' type='image/webp' />
		<link rel='icon' href='./favicon-cast.jpg' type='image/webp' />
		<meta
			name='description'
			content='Drogaria Menor Preço em Taguatinga, Brasília - DF. Entrega grátis a partir de R$ 25,00. Campeã de preços baixos, com promoções e medicamentos com o menor preço todo dia!'
		/>
		<meta
			name='keywords'
			content='drogaria taguatinga, farmácia taguatinga, drogaria barato df, farmácia entrega grátis brasília, remédios baratos taguatinga, drogaria menor preço, medicamentos com desconto df, farmácia preço baixo, entrega de remédios brasília, drogaria em taguatinga, farmácia popular taguatinga, farmácia com entrega grátis df'
		/>
		<meta property='og:title' content='Drogaria Menor Preço' />
		<link rel='canonical' href='https://drogariamenorprecobr.com.br/' />
		<meta property='og:url' content='https://drogariamenorprecobr.com.br/' />
		<meta
			property='og:description'
			content='Drogaria Menor Preço em Taguatinga, Brasília - DF. Entrega grátis a partir de R$ 25,00. Campeã de preços baixos, com promoções e medicamentos com o menor preço todo dia!'
		/>
		<meta property='og:image:secure_url' content='./assets/logo-cast.jpg' />
		<meta property='og:image' content='./assets/logo-cast.jpg' />
		<meta property='profile:username' content='drogariamenorprecobr' />
		<meta name='twitter:card' content='summary' />
		<meta name='twitter:title' content='Drogaria Menor Preço' />
		<meta name='twitter:image' content='./assets/logo-cast.jpg' />
		<meta name='twitter:url' content='https://drogariamenorprecobr.com.br/' />
		<link rel='preconnect' href='https://fonts.gstatic.com' />
		<link
			href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'
			rel='stylesheet'
		/>
		<meta name='robots' content='INDEX, FOLLOW' />
		<meta name='robots' content='index, follow' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.png' />
		<link rel='stylesheet' href='./styles/styles.css' />
		<!-- <script src="https://cdn.tailwindcss.com"></script> -->
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe src='</body'
				>"https://www.googletagmanager.com/ns.html?id=GTM-NPGNF8QG" height="0"
				width="0" style="display:none;visibility:hidden"></iframe
			></noscript
		>
		<!-- End Google Tag Manager (noscript) -->

		<div class='background-drogaria'></div>

		<div class='content-drogaria'>
			<slot />
		</div>

		<script async src='//www.instagram.com/embed.js'></script>
	</body>
</html>
